[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui
[submodule "third_party/BHS_game"]
	path = third_party/BHS_game
	url = https://github.com/Zartris/BHS_game
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw
